[submodule "dotfiles/vim/bundle/neobundle.vim"]
	path = dotfiles/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "dotfiles/zsh/modules/zsh-completions"]
	path = dotfiles/zsh/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
